#learning-container p {
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}

.translate-container span {
  font-size: 2rem;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}

#submit-form {
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}

#submit-form label {
  display: block;
}

#submit-form input {
  margin-top: 10px;
  margin-left: 50%;
  border: 1px solid gray;
  transform: translate(-50%);
}

#submit-form button {
  display: block;
  margin-left: 50%;
  transform: translate(-50%);
}