#learning-container {
  background-color: #00274c;
  color: ghostwhite;
  margin: 20px;
  min-width: 250px;
}

#learning-container.Word {
  min-width: 230px;
}

.word-score-keeper {
  margin: 20px;
}

.translate-container span {
  font-size: 2rem;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}

#submit-form {
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}

#submit-form label {
  display: block;
}

#submit-form input {
  margin-top: 10px;
  margin-left: 50%;
  border: 1px solid gray;
  transform: translate(-50%);
}

#submit-form button {
  display: block;
  margin-left: 50%;
  transform: translate(-50%);
}