.account-access-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  background-color: #00274c;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  justify-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.reg-error {
  color: red;
  font-weight: bold;
}

.call-action-txt {
  font-size: 2em;
  margin-left: 50%;
}

.register-form {
  width: 100%;
  padding-bottom: 20px;
}

.desc {
  display: flex;
  width: 70%;
  min-width: 250px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input label{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  display: inline-block;
  width: 90px;
}

footer button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.has-account-btn > a {
  text-decoration: none;
  color: black;
}

footer a {
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}