main {
  display: flex;
  justify-content: center;
}

.desc, .call-action-txt {
  text-align: center;
  margin: auto;
  padding: 15px;
  margin-top: 10px;
}

body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', 'Open Sans' ,'Roboto', 'sans-serif';
}