.LoginForm {
  width: 100%;
}

.login-err {
  color: red;
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input label{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 90px;
}

.LoginForm > button {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}